configuration {
	show-icons: true;
	font: "FiraCode Nerd Font 10";
	icon-theme: "Papirus-Dark";

	display-ssh:    "󰣀 ssh:";
	display-run:    "󱓞 run:";
	display-drun:   "󰣖 drun:";
	display-window: "󱂬 window:";
	display-combi:  "󰕘 combi:";
	display-filebrowser: "󰉋 filebrowser:";

	dpi: 100;
}

@theme "~/.config/rofi/gruvbox-material.rasi"
